.contacto{
  h2{
    font-size: $x-large;
    font-weight: 900;
    margin-top: 15vh;
  }
  p{
    font-weight: 300;
    margin-top: 15vh;
  }

}

hr{
  margin-top: 20vh;
}

.contacto__form{
  margin-top: 20vh;
}

.contacto{
  margin-bottom: 20vh;
}
